### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
prch_df = pd.read_csv(file_to_load)
prch_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
prch_df["SN"].nunique()

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
prch_summ = pd.DataFrame({"Number of Unique Items": prch_df["Item ID"].nunique(),
                            "Average Price": "${0:.2f}".format(prch_df["Price"].mean()), 
                            "Number of Purchases": prch_df["Purchase ID"].count(), 
                            "Total Revenue": "${0:.2f}".format(prch_df["Price"].sum())},index=[0])
prch_summ

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
prch_unique = prch_df.drop_duplicates(subset = ["SN"])
prch_unique.count()

male_total = prch_unique.loc[prch_unique["Gender"] == "Male"]
female_total = prch_unique.loc[prch_unique["Gender"] == "Female"]
other_total = prch_unique.loc[prch_unique["Gender"] == "Other / Non-Disclosed"]
male_count = prch_unique.loc[prch_unique["Gender"] == "Male"]["SN"].count()
female_count = prch_unique.loc[prch_unique["Gender"] == "Female"]["SN"].count()
other_count = prch_unique.loc[prch_unique["Gender"] == "Other / Non-Disclosed"]["SN"].count()
pcnt_male = "{0:.2f}%".format(male_count/(male_count + female_count + other_count)*100)
pcnt_female = "{0:.2f}%".format(female_count/(male_count + female_count + other_count)*100)
pcnt_other = "{0:.2f}%".format(other_count/(male_count + female_count + other_count)*100)

gender_df = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"], 
                          "Total Count": [male_count, female_count, other_count], 
                          "Percentage of Players": [pcnt_male, pcnt_female, pcnt_other]})
gender_df.groupby(["Gender"])
gender_df

                  Gender  Total Count Percentage of Players
0                   Male          484                84.03%
1                 Female           81                14.06%
2  Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
prch_unique.head()
prch_count_male = prch_df["Purchase ID"].loc[prch_df["Gender"] == "Male"].count()
prch_count_female = prch_df["Purchase ID"].loc[prch_df["Gender"] == "Female"].count()
prch_count_other = prch_df["Purchase ID"].loc[prch_df["Gender"] == "Other / Non-Disclosed"].count()
prch_px_avg_male = "${0:.2f}".format(prch_df["Price"].loc[prch_df["Gender"] == "Male"].mean())
prch_px_avg_female = "${0:.2f}".format(prch_df["Price"].loc[prch_df["Gender"] == "Female"].mean())
prch_px_avg_other = "${0:.2f}".format(prch_df["Price"].loc[prch_df["Gender"] == "Other / Non-Disclosed"].mean())
prch_total_male = "${0:.2f}".format(prch_df["Price"].loc[prch_df["Gender"] == "Male"].sum())
prch_total_female = "${0:.2f}".format(prch_df["Price"].loc[prch_df["Gender"] == "Female"].sum())
prch_total_other = "${0:.2f}".format(prch_df["Price"].loc[prch_df["Gender"] == "Other / Non-Disclosed"].sum())
prch_ttl_avg_male = "{0:.0f}".format(prch_df["Purchase ID"].loc[prch_df["Gender"] == "Male"].mean())
prch_ttl_avg_female = "{0:.0f}".format(prch_df["Purchase ID"].loc[prch_df["Gender"] == "Female"].mean())
prch_ttl_avg_other = "{0:.0f}".format(prch_df["Purchase ID"].loc[prch_df["Gender"] == "Other / Non-Disclosed"].mean())

gender_prch_df = pd.DataFrame({"Gender": ["Male", "Female", "Other"], 
                               "Purchase Count": [prch_count_male, prch_count_female, prch_count_other],
                               "Average Puchase Price": [prch_px_avg_male, prch_px_avg_female, prch_px_avg_other], 
                               "Total Purchase Value": [prch_total_male, prch_total_female, prch_total_other], 
                               "Average Total Purchase Per Person": [prch_ttl_avg_male, prch_ttl_avg_female, prch_ttl_avg_other]})
gender_prch_df

,Gender,Purchase Count,Average Puchase Price,Total Purchase Value,Average Total Purchase Per Person
0,Male,652,$3.02,$1967.64,393
1,Female,113,$3.20,$361.94,379
2,Other,15,$3.35,$50.19,335

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
prch_df["Age"].describe()
bins = [0, 7, 10, 15, 20, 25, 30, 35, 40, 45]
age_bins = ["< 10", 
            "10 - 14", 
            "15 - 19", 
            "20 - 24", 
            "25 - 29", 
            "30 - 34", 
            "35 - 39",
            "40 - 44", 
            "45 - 49"]

age_total = prch_df["Age"].count()

prch_df["Age Summary"] = pd.cut(prch_df["Age"], bins, labels = age_bins)

A = prch_df.loc[prch_df["Age Summary"] == "< 10"]["Age Summary"].count()
B = prch_df.loc[prch_df["Age Summary"] == "10 - 14"]["Age Summary"].count()
C = prch_df.loc[prch_df["Age Summary"] == "15 - 19"]["Age Summary"].count()
D = prch_df.loc[prch_df["Age Summary"] == "20 - 24"]["Age Summary"].count()
E = prch_df.loc[prch_df["Age Summary"] == "25 - 29"]["Age Summary"].count()
F = prch_df.loc[prch_df["Age Summary"] == "30 - 34"]["Age Summary"].count()
G = prch_df.loc[prch_df["Age Summary"] == "35 - 39"]["Age Summary"].count()
H = prch_df.loc[prch_df["Age Summary"] == "40 - 44"]["Age Summary"].count()
I = prch_df.loc[prch_df["Age Summary"] == "45 - 49"]["Age Summary"].count()

Aa = "{0:.2f}%".format((A/age_total)*100)
Bb = "{0:.2f}%".format((B/age_total)*100)
Cc = "{0:.2f}%".format((C/age_total)*100)
Dd = "{0:.2f}%".format((D/age_total)*100)
Ee = "{0:.2f}%".format((E/age_total)*100)
Ff = "{0:.2f}%".format((F/age_total)*100)
Gg = "{0:.2f}%".format((G/age_total)*100)
Hh = "{0:.2f}%".format((H/age_total)*100)
Ii = "{0:.2f}%".format((I/age_total)*100)

age_summ = pd.DataFrame({"Age Summary": age_bins,
                         "Total Count": [A, B, C, D, E, F, G, H, I], 
                         "Percentage of Players": [Aa, Bb, Cc, Dd, Ee, Ff, Gg, Hh, Ii]})
age_summ.groupby(["Age Summary"])
age_summ

  Age Summary  Total Count Percentage of Players
0        < 10            9                 1.15%
1     10 - 14           23                 2.95%
2     15 - 19           54                 6.92%
3     20 - 24          200                25.64%
4     25 - 29          325                41.67%
5     30 - 34           77                 9.87%
6     35 - 39           52                 6.67%
7     40 - 44           33                 4.23%
8     45 - 49            7                 0.90%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
A_prch = prch_df["Purchase ID"].loc[prch_df["Age Summary"] == "< 10"].count()
B_prch = prch_df["Purchase ID"].loc[prch_df["Age Summary"] == "10 - 14"].count()
C_prch = prch_df["Purchase ID"].loc[prch_df["Age Summary"] == "15 - 19"].count()
D_prch = prch_df["Purchase ID"].loc[prch_df["Age Summary"] == "20 - 24"].count()
E_prch = prch_df["Purchase ID"].loc[prch_df["Age Summary"] == "25 - 29"].count()
F_prch = prch_df["Purchase ID"].loc[prch_df["Age Summary"] == "30 - 34"].count()
G_prch = prch_df["Purchase ID"].loc[prch_df["Age Summary"] == "35 - 39"].count()
H_prch = prch_df["Purchase ID"].loc[prch_df["Age Summary"] == "40 - 44"].count()
I_prch = prch_df["Purchase ID"].loc[prch_df["Age Summary"] == "45 - 49"].count()

Aa_px_avg = "${0:.2f}".format(prch_df["Price"].loc[prch_df["Age Summary"] == "< 10"].mean())
Bb_px_avg = "${0:.2f}".format(prch_df["Price"].loc[prch_df["Age Summary"] == "10 - 14"].mean())
Cc_px_avg = "${0:.2f}".format(prch_df["Price"].loc[prch_df["Age Summary"] == "15 - 19"].mean())
Dd_px_avg = "${0:.2f}".format(prch_df["Price"].loc[prch_df["Age Summary"] == "20 - 24"].mean())
Ee_px_avg = "${0:.2f}".format(prch_df["Price"].loc[prch_df["Age Summary"] == "25 - 29"].mean())
Ff_px_avg = "${0:.2f}".format(prch_df["Price"].loc[prch_df["Age Summary"] == "30 - 34"].mean())
Gg_px_avg = "${0:.2f}".format(prch_df["Price"].loc[prch_df["Age Summary"] == "35 - 39"].mean())
Hh_px_avg = "${0:.2f}".format(prch_df["Price"].loc[prch_df["Age Summary"] == "40 - 44"].mean())
Ii_px_avg = "${0:.2f}".format(prch_df["Price"].loc[prch_df["Age Summary"] == "45 - 49"].mean())

Aa_px_ttl = "${0:.2f}".format(prch_df["Price"].loc[prch_df["Age Summary"] == "< 10"].sum())
Bb_px_ttl = "${0:.2f}".format(prch_df["Price"].loc[prch_df["Age Summary"] == "10 - 14"].sum())
Cc_px_ttl = "${0:.2f}".format(prch_df["Price"].loc[prch_df["Age Summary"] == "15 - 19"].sum())
Dd_px_ttl = "${0:.2f}".format(prch_df["Price"].loc[prch_df["Age Summary"] == "20 - 24"].sum())
Ee_px_ttl = "${0:.2f}".format(prch_df["Price"].loc[prch_df["Age Summary"] == "25 - 29"].sum())
Ff_px_ttl = "${0:.2f}".format(prch_df["Price"].loc[prch_df["Age Summary"] == "30 - 34"].sum())
Gg_px_ttl = "${0:.2f}".format(prch_df["Price"].loc[prch_df["Age Summary"] == "35 - 39"].sum())
Hh_px_ttl = "${0:.2f}".format(prch_df["Price"].loc[prch_df["Age Summary"] == "40 - 44"].sum())
Ii_px_ttl = "${0:.2f}".format(prch_df["Price"].loc[prch_df["Age Summary"] == "45 - 49"].sum())

A_prch = "{0:.0f}".format(prch_df["Purchase ID"].loc[prch_df["Age Summary"] == "< 10"].mean())
B_prch = "{0:.0f}".format(prch_df["Purchase ID"].loc[prch_df["Age Summary"] == "10 - 14"].mean())
C_prch = "{0:.0f}".format(prch_df["Purchase ID"].loc[prch_df["Age Summary"] == "15 - 19"].mean())
D_prch = "{0:.0f}".format(prch_df["Purchase ID"].loc[prch_df["Age Summary"] == "20 - 24"].mean())
E_prch = "{0:.0f}".format(prch_df["Purchase ID"].loc[prch_df["Age Summary"] == "25 - 29"].mean())
F_prch = "{0:.0f}".format(prch_df["Purchase ID"].loc[prch_df["Age Summary"] == "30 - 34"].mean())
G_prch = "{0:.0f}".format(prch_df["Purchase ID"].loc[prch_df["Age Summary"] == "35 - 39"].mean())
H_prch = "{0:.0f}".format(prch_df["Purchase ID"].loc[prch_df["Age Summary"] == "40 - 44"].mean())
I_prch = "{0:.0f}".format(prch_df["Purchase ID"].loc[prch_df["Age Summary"] == "45 - 49"].mean())

age_prch_summ = pd.DataFrame({"Age Summary": age_bins, 
                              "Purchase Count": [A_prch, 
                                                 B_prch, 
                                                 C_prch, 
                                                 D_prch, 
                                                 E_prch, 
                                                 F_prch, 
                                                 G_prch, 
                                                 H_prch,
                                                 I_prch],
                              "Average Purchase Price": [Aa_px_avg, 
                                                         Bb_px_avg, 
                                                         Cc_px_avg, 
                                                         Dd_px_avg, 
                                                         Ee_px_avg, 
                                                         Ff_px_avg, 
                                                         Gg_px_avg,
                                                         Hh_px_avg,
                                                         Ii_px_avg], 
                              "Total Purchase Value": [Aa_px_ttl,
                                                       Bb_px_ttl,
                                                       Cc_px_ttl,
                                                       Dd_px_ttl,
                                                       Ee_px_ttl,
                                                       Ff_px_ttl,
                                                       Gg_px_ttl,
                                                       Hh_px_ttl,
                                                       Ii_px_ttl], 
                              "Average Total Purchase Per Person": [A_prch,
                                                                    B_prch,
                                                                    C_prch,
                                                                    D_prch,
                                                                    E_prch,
                                                                    F_prch,
                                                                    G_prch,
                                                                    H_prch,
                                                                    I_prch]})
age_prch_summ

,Age Summary,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
0,< 10,403,$3.65,$32.89,403
1,10 - 14,385,$3.31,$76.07,385
2,15 - 19,417,$2.90,$156.60,417
3,20 - 24,390,$3.11,$621.56,390
4,25 - 29,386,$3.02,$981.64,386
5,30 - 34,387,$2.88,$221.42,387
6,35 - 39,362,$2.99,$155.71,362
7,40 - 44,391,$3.40,$112.35,391
8,45 - 49,541,$3.08,$21.53,541

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [17]:
spender_df = prch_df.groupby(prch_df["SN"]).agg({"Purchase ID": "count", "Price": "sum"})
spender_df.reset_index()
spender_df.rename(columns = {"Purchase ID": "Total Purchase Volume", "Price": "Total Purchase Value"}, inplace = True)
spender_df.sort_values("Total Purchase Value", ascending=False).head(5)

             Total Purchase Volume  Total Purchase Value
SN
Lisosia93                        5                 18.96
Idastidru52                      4                 15.45
Chamjask73                       3                 13.83
Iral74                           4                 13.62
Iskadarya95                      3                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [106]:
pop_df = prch_df.groupby(["Item ID", "Item Name"]).agg({"Price": ["sum", "min"],"Purchase ID": "count"})
pop_df.rename(columns ={"count": "Purchase Count", "sum": "Total Purchase Value", "min": "Price"}, inplace = True)
pop_df.reset_index()
pop_df.columns = pop_df.columns.droplevel(0)
pop_df.head()

                            Total Purchase Value  Price  Purchase Count
Item ID Item Name
0       Splinter                            5.12   1.28               4
1       Crucifer                            9.78   3.26               3
2       Verdict                            14.88   2.48               6
3       Phantomlight                       14.94   2.49               6
4       Bloodlord's Fetish                  8.50   1.70               5

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [107]:
pop_df.sort_values("Purchase Count", ascending = False).head(5)

,,Total Purchase Value,Price,Purchase Count
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",50.76,4.23,12
145,Fiery Glass Crusader,41.22,4.58,9
108,"Extraction, Quickblade Of Trembling Hands",31.77,3.53,9
82,Nirvana,44.10,4.90,9
19,"Pursuit, Cudgel of Necromancy",8.16,1.02,8